body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

header {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

#logo-header img {
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    font-size: 16px; 
}

nav a {
    color: white; 
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: white;
    color: black;
}

#menu-icon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 40px;
    margin-top: 20px;
}

.text-section {
    flex-basis: 50%;
    margin-left: 150px;
}

.text-section h1, .text-section h2, .text-section p {
    margin-top: 0;
    margin-bottom: 8px;
}

#hero h1, #hero h2 {
    font-family: 'Playfair Display', serif;
    line-height: 4rem;
    font-size: 4rem;
}

#hero p {
    max-width: 450px;
    font-size: 2em;
    margin-top: 16px;
    margin-bottom: 15px;
}

.icon-section img {
    width: 80%;
    height: auto;
    margin-right: 80px;
}

#about, #projects, #skills, #contact {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

#about {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.about-description {
    width: 40%;
}

.project {
    background-color: white;  
    border-radius: 8px;       
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    margin: 20px;             
    padding: 20px;            
    display: flex;            
    flex-direction: column;   
    align-items: center;  
   margin-left: 100px; 
   margin-right: 100px;  
   cursor: pointer;    
}

.project:hover {
    transform: scale(1.05); 
    border-color: black; 
}

.project-image-container {
    flex: 1;                  
    padding: 10px;           
}

.project h3 {
    margin-top: 0;
    font-size: 2rem;
}

#projects h2 {
    font-size: 3rem;
    margin-left: 180px;
    color: black;
}

.project-info {
    padding: 10px 0; 
}

.project-description {
    font-size: 1rem; 
    color: #666;
    margin-bottom: 20px; 
}

.tech-info {
    display: flex;
    justify-content: start; 
    width: 100%; 
    gap: 10px;
    align-items: center;
}

.project-image {
    width: 1050px; 
    height: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.tech-info a:hover, .tech-info span:hover {
    background-color: black;
}

.tech-logo {
    width: 50px;
    height: auto;
    margin-right: 5px;
    margin-top: 5px;
}

.github-link, .linkedin-link {
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

.github-link {
    background-color: #fff; 
    color: #333; 
    border: 2px solid black; 
    height: 25px;
}

.github-link:hover {
    background-color: black; 
    color: #fff; 
}

.linkedin-link {
    background-color: #fff; 
    color: #0077B5; 
    border: 2px solid #0077B5; 
}

.linkedin-link:hover {
    background-color: #0077B5; 
    color: #fff; 
}

.react-logo{
   width: 100px;
}

.javascript-logo {
    height: 70px;
}


.skills-title {
    margin-left: 180px;
    margin-bottom: 20px;
    font-size: 3rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
   width: 50%;
    margin: auto;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.skill-bar {
    height: 20px;
    border-radius: 8px;
    background-color: #ddd; 
}

.javascript-bar { background-color: #f0db4f; }
.html-bar { background-color: #e34c26; }
.css-bar { background-color: #264de4; }
.react-bar { background-color: #61DBFB; }
.git-bar { background-color: #000000; }
.photoshop-bar{background-color: #021c84;}

.width-90 { width: 90%; }
.width-70 { width: 70%; }
.width-80 {width: 80%;}
.width-50 {width: 50%;}

.skill-bar-container {
    display: flex;
    align-items: center;
    width: 100%;
}
.skill-percentage {
    margin-left: 10px;
}

#parcours-pro {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 20px;
    background-color: black; 
}

.parcours-title{
    font-size: 3rem;
    margin-left: 180px;
    color: white;
}

.card {
    width: 400px; 
    margin: 10px;
    padding: 20px;
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 10px;
    margin-left: 180px;
}

.card h3 {
    color: #333; 
    margin-bottom: 5px;
}

.card-date {
    font-style: italic;
    color: #666; 
    margin-bottom: 10px;
}

.card-description {
    text-align: justify;
    color: #444; 
}

.contact-title{
    font-size: 3rem;
    margin-left: 180px;
}

#contact {
    display: flex;
    flex-direction: column;
}

.contact-link{
    display: flex;
   align-self: center;
}

.email-section {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#email{
   cursor: pointer;
   text-decoration: underline
   
}

.social-media-heading {
    margin-top: 20px;
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.copy-button {
    padding: 10px 15px; 
    font-size: 16px; 
    color: black; 
    background-color: white; 
    border: solid black;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.copy-button:hover {
    background-color: black; 
    color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
}

footer {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

#footer-logo img {
    height: 150px;
}

@media screen and (min-width: 768px) and (max-width: 1400px){

.icon-section img {
     width: 80%;
    height: auto;
    margin-left: 50px;
}

.text-section {
    margin-left: 50px;
}

#projects h2 {
    margin-left: 50px;
}

.project-description {
    width: 70%;

}

.project-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.project-image{
    width: 70%;
}

.project-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tech-info{
    justify-content: center;
}
.compétences{
    margin-left: 50px;
}

.skills-title{
    margin-left: 50px;
}

.parcours-title{
    margin-left: 50px;
}

.card {
    margin-left: 50px;
}

.contact-title{
    margin-left: 50px;
}

.email-section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}

.contact-message{
    display: flex;
    flex-direction: column;
}

.copy-button {
    margin-top: 10px; 
    align-self: center; 
}
}
@media screen and (max-width: 767.98px) {

    #navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #menu-icon {
        display: block; 
        cursor: pointer;
        color: white; 
    }

    nav a {
        display: block;
        text-align: center;
        width: 70%;
        margin-left: 30px;
    }
    .icon-section img {
        margin-left: 0px; 
        margin-right: 0px;
        display: none;
    }

    #hero h1{
        font-size: 3rem;
    }

    #hero h2{
        font-size: 3rem;
    }

    #hero{
        justify-content: center;
    }
    .text-section {
        margin-left: 0px; 
    }

    .about-description{
        width: 100%;
    }

    .project{
        margin-left: 10px;
        margin-right: 10px;
    }

    .project-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #projects h2 {
        margin-left: 15px; 
        display: flex;
        font-size: 2rem;
    }

    .project-description{
        width: 100%;
    }

    .project-image {
        margin-left: 0px; 
        width: 350px;
    }

    .skills-title {
        margin-left: 15px;
        display: flex;
        font-size: 2rem;
    }

    .parcours-title {
        margin-left: 0px; 
        font-size: 2rem;
    }

    .parcours-pro{
        padding: 15px;
    }

    .card {
        margin-left: 0px;
        padding: 10px;
        width: auto;
    }

    .contact-title {
        margin-left: 15px;
        font-size: 2rem; 
    }

    .contact-message{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .copy-button{
        margin-top: 15px;
    }

    .social-media-heading{
        display: flex;
        justify-content: center;
        margin-left: 15px;
    }

    .email-section{
        font-size: 25px;
    }

    .logo{
        width: 60px;
        height: 60px;
    }

    #logo-header {
        margin-left: 20px; 
    }
    

    header {
        background-color: black;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; 
    }
    
    #close-icon {
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    .skills-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    
    #navbar {
    display: none;
    animation: slideFromRight 0.5s ease forwards;
    }

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

 

}